$container_width: 1170px;
$phone_container_width: 329px;

$main_background_color: #28293e;
$secondary_background_color: #fdf0e9;
$ternary_background_color: #ef6d58;

$text_light: #ffffff;
$text_dark: #391400;
$text_dark_accent: #ef6d58;
$text_dark_gray: #391400a3;
$text_white_gray: #ffffffa3;

$screen-size: (
  "sm": 480px,
  "md": 1080px,
);
