/* *{
  font-size: 20px;
}

body{
  background-color: rgba(0, 0, 0, 0.8);
}

p{
  color: aquamarine;
}

div,#secondary_part{
  background-color: white;
}

.main_part .secondary_part{
  color: cornflowerblue;
}

#special_div{
  color: red;
}
p#secondary_part{
  font-weight: 900;
}

.upper + .lower + .lower {
  background-color: blue;
}

p~div{
  background-color: darkmagenta;
}

p{
  color: red;
  cursor: not-allowed;
}

[href="https://www.w3schools.com/csSref/css_selectors.php"]{
  background-color: bisque;
}

#birsey:checked{
  margin: 100px;
}

#text_input{
  outline: none;
  border: 5px solid black;
}

#text_input:focus{
  border-color: blue;
}

#text_input:hover{
  border-color: blueviolet;
} */

/* *{
  margin: 0;
  padding: 0;
}


#main_element{
  display: inline-block;
  border: 10px solid green;
  padding: 20px 12px 40px  40px ;
}
/* #birsey{
  width: 300px;
} 

div{
  display: inline;
  width: 300px;
  height: 200px;
} */
/* 
.div_1{
  width: 250px;
  height: 250px;
  background-color: blue;
  border: 25px solid red;
  border-radius: 50%;
}

.div_2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: aqua;
  border: 25px solid rgb(34, 170, 134);
  margin: 25px;
}
.div_3{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(42, 209, 51);
  border: 25px solid rgb(156, 13, 108);
  margin: 25px;
  } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  height: 200px;
  width: 200px;
  padding: 10px;
  border: 5px solid red;
  background-color: aquamarine !important;
}

#green {
  background-color: green;
}

#green {
  background-color: red;
}
