html{
  font-size: 12px;
  font-family: Geneva, Tahoma, sans-serif;
  fo
}
p{
  /* font-size: 2rem; */
  /* width: 1200px; */
  /* font-size: 45px; */
  /* font-weight: 900; */
  /* text-align: right; */
  /* text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: aqua ; */
  /* color: #FFF; */
  /* text-transform: lowercase; */
  /* text-indent: 1260px; */
  /* letter-spacing: 10px;
  word-spacing: 30px; */
  /* line-height: 480px; */

}


/* body{
  width: 400px;
}

div{
  width: 50vw;
  height: 30vh;
  background-color: aquamarine;
} */

/* a{
  text-decoration: none;
} */ 